<div class="container-fluid" id="app">
  <div class="row-fluid">
    <div class="span2" id="entries">
      <ul class="nav nav-tabs nav-stacked items">
      </ul>
      <form id="entry-form">
        <input type="text" name="title" class="title input-medium" placeholder="Write Budget Name" />
      </form>
    </div>
    <div class="span10">
      <div id="entry-detail">
        <div class="no-result">No Budget Selected</div>
        <div class="result">
          <h3 class="title"></h3>
          <h4>Balance: <span class="balance-value"></span></h4>
          <div class="row-fluid">
            <div class="span5">
              <h5>Credit</h5>
              <table class="table table-hover table-bordered" id="credits-list">
                <thead>
                  <tr>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody class="items">

                </tbody>
                <tfoot>
                  <tr>
                    <td><strong>Total:</strong></td>
                    <td><strong class="total"></strong></td>
                    <td></td>
                  </tr>
                </tfoot>
              </table>
              <form class="form-inline" id="credit-form">
                <input class="span6" type="text" name="title" class="title" placeholder="Description" />
                <input class="span3" type="text" name="value" class="value" placeholder="Amount" />
                <input type="hidden" name="_entryid" class="entryid" value="" />
                <button type="submit" class="btn">Add Credit</button>
              </form>
            </div><!-- /span5 -->
            <div class="span5">
              <h5>Debit</h5>
              <table class="table table-hover table-bordered" id="debits-list">
                <thead>
                  <tr>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody class="items">

                </tbody>
                <tfoot>
                  <tr>
                    <td><strong>Total:</strong></td>
                    <td><strong class="total"></strong></td>
                    <td></td>
                  </tr>
                </tfoot>
              </table>
              <form class="form-inline" id="debit-form">
                <input class="span6" type="text" name="title" placeholder="Description" />
                <input class="span3" type="text" name="value" placeholder="Amount" />
                <input type="hidden" name="_entryid" class="entryid" value="" />
                <button type="submit" class="btn">Add Debit</button>
              </form>
            
            </div><!-- /span -->
          </div>
          <a href="#" class="btn btn-danger delete"><i class="icon-trash icon-white"></i> Delete Budget</a>
        </div>
      </div>
    </div>
  </div>
</div>
