<div class="container-fluid" id="app">
  <div class="row-fluid">
    <div class="span2" id="entries">
      <ul class="nav nav-tabs nav-stacked items">
      </ul>
      <form id="entry-form">
        <input type="text" name="title" class="title input-medium" placeholder="Write Budget Name" />
      </form>
    </div>
    <div class="span10">
      <div id="entry-detail">
      </div>
    </div>
  </div>
</div>
