<div class="container-fluid" id="app">
  <div class="row-fluid">
    <div class="span2" id="entries">
      <ul class="nav nav-tabs nav-stacked items">
      </ul>
      <form id="entry-form">
        <input type="text" name="title" class="title input-medium" placeholder="Write Budget Name" />
      </form>
    </div>
    <div class="span10">
      <div id="entry-detail">
        <div class="no-result">No Budget Selected</div>
        <div class="result">
          <h3 class="title"></h3>
          <table class="table table-hover table-bordered" id="credits-list">
            <thead>
              <tr>
                <th>Description</th>
                <th>Amount</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody class="items">
              
            </tbody>
          </table>
          <form class="form-inline" id="credit-form">
            <input type="text" name="title" placeholder="Description" />
            <input type="text" name="value" placeholder="Amount" />
            <input type="hidden" name="entryid" id="entryid" value="" />
            <button type="submit" class="btn">Add Credit</button>
          </form>
          <a href="#" class="btn btn-danger delete">Delete</a>
        </div>
      </div>
    </div>
  </div>
</div>
