<div class="control-group">
  <label for="title" class="control-label">title</label>
  <div class="controls">
    <%- contentTag('input', credit.title, {type:'text', class:'span6', name:'title'}) %>
  </div>
</div>
<div class="control-group">
  <label for="entryid" class="control-label">entryid</label>
  <div class="controls">
    <%- contentTag('input', credit.entryid, {type:'text', class:'span6', name:'entryid'}) %>
  </div>
</div>
<div class="control-group">
  <label for="value" class="control-label">value</label>
  <div class="controls">
    <%- contentTag('input', credit.value, {type:'number', class:'span2', name:'value'}) %>
  </div>
</div>
