<div class="hero-unit">
  <h2>All Debits</h2>
  <%- linkTo('Create a new Debit', addDebitPath, {class: 'btn pull-right'}); %>
</div>

<div id="debits-list">
<% if (debits) { %>
<% for (var i = 0, ii = debits.length; i < ii; i++) { %>
  <div class="row list-item" id="debit-<%= debits[i].id; %>">
    <div class="span8">
      <h3><%- linkTo(debits[i].title, debitPath(debits[i].id)); %></h3>
    </div>
    <div class="span4">
      <h3><i class="icon-list-alt"></i><%= debits[i].id; %></h3>
    </div>
  </div>
<% } %>
<% } %>
</div>